<div class="layout-logo p-2 flex gap-2 justify-center items-center">
    <div class="h-10 w-10 bg-black block"></div>
    <div class="flex-1 mt-0.5 font-bold">
        Freiw. Feuerwehr Musterhausen
    </div>
</div>